body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

content {
	display:flex;
	flex-flow: column;
	align-items: center;
}

img {
	max-width: 260px;
}




#profile-body {
	max-width: 800px;
	width: 800px;
}

.bod {
	display:flex;
	justify-content: space-evenly;
	width: 800px;
}

#cat-picture {
	background-color: black;
}

#more-info {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	width: 350px;
}

#more-info p {
	width: 260;
	text-align: center;
}

#img-container {
	display: flex;
	height: 260px;
	align-items: center;
}

#note {
	margin-top: 120px;
}

.hidden {
	color: transparent;
}


nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: crimson;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

.fav-btns {
	padding: 8px;
	border-radius: 8px;
	border: none;
	background-color: orange;
	color: white;
}

.fav-btns:hover {
	background-color: crimson;
}

.button-options {
	display: flex;
}

.picture-box {
	display: flex;
	flex-flow: column;
}

.boxes {
	display: flex;
}

.box {
	margin: 25px;
}

.picture-box p {
	max-width: 100px;
}

.picbox {
	height: 200px;
}